@import "../Shared/navbar.css";

/*Shared*/

.topic
{
    text-align:center;
    font-size:40px;
}

/*Intro*/

#Intro h1
{
    font-size: 50px;
    text-align:center;
}

#Intro p
{
    font-size:20px;
    text-align:center;
}

#About
{
    padding:20px;
}

#PicText
{
    overflow:hidden;
}

#About img
{
    float:left;
    border-style:solid; /*add more border later*/
    margin-right:10px;
}

#About p, #About pre
{
    font-size:20px;
}

/*Services*/

#services
{
    width:100%;
}

.Service
{
    width:100%;
    overflow:hidden;
    font-size:20px;
}

.Service img
{
    float:left;
    border-style:solid;
}

.Service p
{
    width:90%;
}

/*experience*/

