:root
{
    /*Fix colors here, template is fine though*/
    --green: green; 
    --darkGreen: seaGreen;
    --navText: white;
    --navSelect:black;
    --background:white;
}

body
{
    padding-top:50px;
    background-color: var(--background);
    /*maybe a gradient or something else nice looking?*/
}

nav
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

nav ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:var(--green);
}

nav li
{
    float:left;
    border-right:1px solid white;
}

nav li:hover:not(.active)
{
    background-color:var(--darkGreen);
}

nav li:last-child
{
    float:right;
    border-right:none;
    border-left:1px solid white;
}

nav a
{
    display:block;
    padding:14px 16px;
    text-decoration: none;
    text-align:center;
    color:var(--navText);
    
}

.active
{
    background-color:var(--navSelect);
}

/*Navbar End*/

#Intro h1
{
    font-size: 50px;
    text-align:center;
}

#Intro p
{
    font-size:20px;
    text-align:center;
}

#About
{
    padding:20px;
}

#PicText
{
    overflow:hidden;
}

#About img
{
    float:left;
    border-style:solid; /*add more border later*/
    margin-right:10px;
}

#About p, #About pre
{
    font-size:20px;
}

/*Services*/

.LService
{
    float:left;
    overflow:hidden;
}

.RService
{
    float:right;
    overflow:hidden;
}